p{
    color:blue;
}
.p{
    color:green;
    background-color:aqua;
}
p{
    text-align: center;
}
#jk{
    background-color:rgb(8,230,156);
    font-size: large;
}
div{
    padding: 200px;
    border: 3px solid black;
    margin: 2px;
    height: 100px;
    width: 1000px;
}
h1{
    color:blueviolet;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
p{
    color:red;
    text-align: left;
}